<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 管理DAO -->
	<bean class="com.example.demo.aroundAdvice.dao.DeptDAOImpl"
		id="deptDAOImpl"></bean>
	<!-- 管理Service -->
	<bean
		class="com.example.demo.aroundAdvice.service.DeptServiceImpl"
		id="deptServiceImpl">
		<property name="deptDAO" ref="deptDAOImpl"></property>
	</bean>



	<!-- 注册通知类 -->
	<bean
		class="com.example.demo.aroundAdvice.advices.MethodInvokeTimeAdvice"
		id="methodInvokeTimeAdvice"></bean>

	<!-- 配置切面 -->
	<aop:config>
		<!-- 配置切入点 -->
		<aop:pointcut
			expression="within(com.example.demo.aroundAdvice.service.DeptServiceImpl)"
			id="pc" />
		<!-- 组装切面 -->
		<aop:advisor advice-ref="methodInvokeTimeAdvice"
			pointcut-ref="pc" />
	</aop:config>
</beans>